{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <title>E-DIARY</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{% static 'css/app1.css' %}" rel="stylesheet" />
    <!-- fontawesome CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<nav class=".navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">E-DIARY</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item {% if url_name == 'main' %}active{% endif %}"><a class="nav-item " href="{% url 'app1:main'%}">Главная</a></li>
      <li class="nav-item {% if url_name == 'timetable' %}active{% endif %}"><a class="nav-item " href="{% url 'app1:timetable'%}">Расписание</a></li>
      <li class="nav-item {% if url_name == 'homework' %}active{% endif %}"><a class="nav-item " href="{% url 'app1:homework'%}">Домашнее задание</a></li>
      <li class="nav-item {% if url_name == 'grade' %}active{% endif %}"><a class="nav-item " href="{% url 'app1:grade'%}">Оценки</a></li>
      <li class="nav-item {% if url_name == 'progress_table' %}active{% endif %}"><a class="nav-item " href="{% url 'app1:progress_table'%}">Успеваемость</a></li>
    </ul>
<!--    <ul class="nav navbar-nav navbar-right">-->
<!--      <li class="nav-item {% if url_name == 'main' %}active{% endif %}"><a class="nav-item " href="#"><span class="glyphicon glyphicon-cog"></span></a></li>-->
<!--    </ul>-->
  </div>
</nav>

<div class=".container-fluid">
{% block content %}
{% endblock %}
</div>
