.jumbotron {
  background-color: #4682B4;
  padding: 0px;
}

h2 {
  color:white
  margin-top: 2px;
}

.active{

}

body {
  background: #336d9c;
}


.col-sm{
}

.nav-link{
    color:yellow;
}

.container-fluid{

}

