.jumbotron {
  background-color: #4682B4;
  padding: 0px;
}

.font-size-lg{
    font-size: large;
}

h2{
  color:white
  margin-top: 2px;
}

.active{

}

body {
  background: white;
}


.col-sm{
}

.nav-link{
    color:yellow;
}

.container-fluid{

}

