{% extends 'account/base.html' %}
{% block title %}Log-in{% endblock %}
{% block content %}
<body bgcolor="#c0c0c0">
    <form class = "form-1" action="." method="post">
        <h1>E-DIARY</h1>

        <p class="field">
            {{ form.as_p }}
         </p>
        <p class="field">
            {% csrf_token %}
        </p>
        <p class="submit">
            <input type="submit" value="Log-in">
            <h5>неверный логин или пароль</h5>
        </p>

    </form>

</body>
{% endblock %}
